---
---

@import "{{ site.theme }}";
body{
  color: black;
}

h1,h2,h3{
  font-weight: normal;
}
h1,h2,h3{
  color: #e31919;
}

header{
  margin: auto;
  width: 30%;
  text-align: center;
  border: 1px, solid, green;
}
section{
  border: 1px, solid, red;
}
