---
---

@import "{{ site.theme }}";
body{
  color: black;
}

h1,h2,h3{
  font-weight: normal;
}
h1,h2,h3{
  color: #e31919;
}

.social{
  text-decoration: none;
}

header {
  text-align: center;
  border: 1px solid green;
}

.social:hover{
  background-color: #e31919;
  color: white;
  padding: 2px;
}
