<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Shyam Gupta</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        <br>
        <a class="social" href="https://linkedin.com/in/postboxshyam">LinkedIn</a> | 
        <a class="social" href="https://github.com/shyamgupta/">GitHub</a>
        <p><span style="font-weight:bold">Education:</span>Bachelor of Engineering, 2001</p>
        <p style="font-weight: bold">Certifications:</p>
        <ol>
          <li>Google Cloud Digital Leader, 2022</li>
          <li>AWS Cloud Practitioner, 2022</li>
          <li>Advanced Certification in DevOps, IIIT Bangalore, 2023</li>
          <li>AWS AI Practiotioner, 2024</li>
        </ol>
      </header>
      <section>

      {{ content }}

      </section>
      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
